<%- include ("./partials/_header") %>

<div class="container">
  <a href="/newPost"><button type="button" class="btn btn-primary">Create New Post</button></a>
</div>

<main role="main" class="container" id="main-container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <% if (posts.length === 0) { %>
        <h2 class="blog-post-title">There are no Posts</h2>
        <% } %> <% for (let post of posts) { %>
        <h2 class="blog-post-title"><%= post.title -%></h2>
        <p class="blog-post-meta">
          <%= months[post.post_date.getMonth()] -%> <%= post.post_date.getDate() -%>, <%= post.post_date.getFullYear()
          -%> by <a href="#"><%= post.author -%></a>
        </p>
        <p><%= post.post_data -%></p>
        <a class="btn btn-danger" href="<%= post.delete_url -%>"> Delete </a>
        <a class="btn btn-info" href="<%= post.edit_url -%>"> Edit </a>
        <% } %>
      </div>
    </div>
  </div>
</main>

<%- include ("./partials/_footer") %>
